.footer{
    margin-top: 10px;
    background-color: lightblue;
    color:black;
}

.footer_area{
    text-align: center;
    font-family: monospace;
}

.site_info{
    margin-top: 10px;
}

.site_info h1{
    font-size: 1.4em;
}

.grid_cor1{
    padding: 10px;
    min-height: 220px;
    margin-bottom: 10px;
}

.grid_cor1 img{
    width: 80%;
}