.conteudo{
    width: max-content;
}

.banner{ 
    margin: 0px;
}

.main_texto{
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main_texto h1{
    color: darkblue;
}

.card_area > div{
    margin-bottom: 10px;
}

.card_area img{
    width: 100%;
}

.placa{
    font-size: larger;
    background-image: linear-gradient( to right, #5c9ce6, #5ce1e6);
}

.music img{
    width: 100%;
}
.music h5{
    font-size: small;
}
.music p{
    font-size: smaller;
}